<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-hash/0.2.1/leaflet-hash.min.js"></script>

    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <!-- Include Datatables -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="municipios.js"></script>
    <script src="ugrhis.js"></script>

    <style>

      body {
          padding: 0;
          margin: 0;
      }
      html, body {
          height: 100%;
          width: 100vw;
          overflow: hidden;
      }

      #map{
        height: 96vh;
        width: 100vw;
        overflow: hidden;
        position: fixed;
        margin-top: 60px !important; 
        left: 0;
      }

      .selector-for-some-widget {
        box-sizing: content-box;
      }
    
    </style>

    </head>
    <body class="bg-light">
      
      <nav class="navbar navbar-dark bg-dark fixed-top ">

          <form class="container-fluid justify-content-start">
            <span class="navbar-text">
              <a class="navbar-brand" href="#">SOE-DAEE</a>
            </span>
            
            <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="modal" data-bs-target="#modal-tabela-outorgas" aria-controls="offcanvasBottom">
              <i class="bi bi-table text-primary"></i>
            </button>
            <button  class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#cityFilter" aria-controls="offcanvasNavbar">
              <!--<span class="navbar-toggler-icon"></span>-->
              <i class="bi bi-search text-success"></i>
            </button>
          </form>
      </nav>

      <!-- Modal -->
      <div class="modal fade" id="infoOutorga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Resumo</button>
                  <button class="nav-link" id="nav-discharges-tab" data-bs-toggle="tab" data-bs-target="#nav-discharges" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Vazões</button>
                  <button class="nav-link" id="nav-charts-tab" data-bs-toggle="tab" data-bs-target="#nav-charts" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Gráfico</button>
                  
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                  <br/>
                  <table class="table table-bordered table-sm">
                    
                    <tbody>
                      <tr>
                        <th>Cidade</th><td class="info-municipio">-</td>
                      </tr>
                      <tr>
                        <th>Diretoria</th><td class="info-diretoria">-</td>
                      </tr>
                      <tr>
                        <th>Ugrhi</th><td class="info-ugrhi">-</td>
                      </tr>
                     
                      <tr>
                        <th>Tipo</th><td class="info-tipo">-</td>
                      </tr> 
                      <tr>
                        <th>Sub-Tipo</th><td class="info-sub-tipo">-</td>
                      </tr>  
                      <tr>
                        <th>Finalidade</th><td class="info-finalidade">-</td>
                      </tr>
                      <tr>
                        <th>Decisão do Parecer Técnico</th><td class="info-decisao">-</td>
                      </tr>      
                      <tr>
                        <th>Núm.Processo</th><td class="info-processo">-</td>
                      </tr>
                      <tr>
                        <th>Núm.Portaria</th><td class="info-portaria">-</td>
                      </tr>
                      <tr>
                        <th>Data da Publicação</th><td class="info-data-publicacao">-</td>
                      </tr>
                      <tr>
                        <th>Vazão Sazonal?</th><td class="info-sazonalidade">-</td>
                      </tr>
                      <tr>
                        <th>Volume Anual (m³)</th><td class="info-volume-anual"></td>
                      </tr>
                      <tr>
                        <th>Vazão (m³/h)</th><td class="info-vazao-max"></td>
                      </tr>                     
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-discharges" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                  <br/>
                  <table class="table table-bordered table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mês</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Vazão(m³/h)</th>
                        <th scope="col">Vol.Mensal(m³)</th>
                      </tr>
                    </thead>
                    <tbody class="table-vazoes">
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-charts" role="tabpanel" aria-labelledby="nav-charts-tab" tabindex="0">...</div>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="cityFilter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">SOE - Filtro Dinâmico</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="form_search" action="#" method="GET">
                <!--<div class="mb-3">
                  <label for="nro_requerimento" class="form-label">Número de Requerimento</label>
                  <input type="text" class="form-control" id="nro_requerimento" name="nro_requerimento" aria-describedby="emailHelp">
                  <div id="nro_requerimento_help" class="form-text">Código que identifica a outorga.</div>
                </div>-->
                
                <div class="mb-3">
                  <label for="municipio" class="form-label">Município</label>
                  <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                  <select name="municipio" id="municipio" class="form-control">

                  </select>
                </div>

                <div class="mb-3">
                  <label for="ugrhi" class="form-label">Ugrhis</label>
                  <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                  <select name="ugrhi" id="ugrhi" class="form-control">

                  </select>
                </div>

                <div class="mb-3">
                  <label for="data_publicacao" class="form-label">Data de Publicação</label>
                  <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                  <input name="data_publicacao" id="data_publicacao" type="date" html5=true class="form-control"></input>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" id="btn_filter">Filtrar Outorgas</button>
            </div>
          </div>
        </div>
      </div>

       <!-- Modal -->
       <div class="modal fade" id="modal-tabela-outorgas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Tabela de Outorgas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table id="tabela-outorgas" class="table table-bordered table-sm display compact">
                <thead>
                  <tr>
                    <th>Uso</th>
                    <th>Cidade</th>
                    <th>Ugrhi</th>
                    <th>Diretoria</th>
                    <th>Coordenadas</th>
                    <th>Tipo</th>
                    <th>Sub-Tipo</th>
                    <th>Finalidade</th>
                    <th>Decisão</th>
                    <th>Portaria</th>
                    <th>Data Publicação</th>
                    <th>Volume Anual</th>
                    <th>Vazão(m³/h)</th>
                    <th>Jan(m³)</th>
                    <th>Fev(m³)</th>
                    <th>Mar(m³)</th>
                    <th>Abr(m³)</th>
                    <th>Mai(m³)</th>
                    <th>Jun(m³)</th>
                    <th>Jul(m³)</th>
                    <th>Ago(m³)</th>
                    <th>Set(m³)</th>
                    <th>Out(m³)</th>
                    <th>Nov(m³)</th>
                    <th>Dez(m³)</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-warning">Exportar</button>
            </div>
          </div>
        </div>
      </div>

     
      
      <div id="map"></div>
      

      <script>
        var map = L.map('map').setView([-22.524, -46.524], 7);
        let bounds = L.latLngBounds([]);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        populateMunicipiosSelect();
        populateUgrhisSelect();
        fillFormWithUrl();

        let rst = '<%= outorgas %>';

        var markers = L.markerClusterGroup();

        let outorgas_table_obj = [];
        
        var hash = new L.Hash(map);

                
        if(rst != ""){
          let outorgas = JSON.parse(rst.replaceAll("&#34;","\""));

          outorgas.forEach(element => {
            let source = element._source;
            
            let discharges = [];
            //Calculate discharge 12 months
            for(let i = 1; i <= 12; i++){
              let x = (""+i).padStart(2,'0');
              let days  = source["dm_"+x];
              let hours = source["hd_"+x];
              let mins  = source["minh_"+x];
              let vaz   = source["vz_"+x];
              let dis   = days * (hours + (mins/60)) * vaz;

              discharges.push({
                dias: days,
                horas: hours,
                minutos: mins,
                vazao: vaz,
                volume: dis
              });

              //console.log("Discharge: ", dis," - [days: ",days,", hours: ",hours,", minutes: ",mins,"]");
            }

            element._source["vazoes"] = discharges;
            element._source["volume_anual"] = _.sumBy(discharges, 'volume');
            element._source["vazao_max"] = _.maxBy(discharges, 'vazao');

            renderRowToTable("#tabela-outorgas", element._source);

            let marker = L.marker([element._source.latitude, element._source.longitude],{
              title: element._id,
              data: element
            }).on('click', function(e){
              console.log("Clicou no marker: ", e);

              let opts = e.sourceTarget.options.data;

              const md = new bootstrap.Modal('#infoOutorga', {
                keyboard: false
              });

              md.show();            
              
              $("#infoOutorga").find(".modal-title").html("Código do Uso: "+element._source.uso_id);
              $("#infoOutorga").find(".modal-body").find(".table-vazoes").empty();

              $(".info-municipio").html(opts._source.municipio);
              $(".info-diretoria").html(opts._source.diretoria_req);
              $(".info-ugrhi").html(getUgrhi(opts._source.ugrhi));
              $(".info-coordenadas").html(truncateString(""+opts._source.latitude, 12)+","+truncateString(""+opts._source.longitude,12));

              $(".info-tipo").html(opts._source.tipo_de_req_simplificado);
              $(".info-sub-tipo").html(opts._source.tp_uso_subtipo1);
              $(".info-finalidade").html(opts._source.finalidade_1630);
              $(".info-decisao").html(opts._source.decisao_pto);
              $(".info-processo").html(opts._source.processo);
              $(".info-portaria").html(opts._source.portaria);

              if(opts._source.data_publicacao){
                $(".info-data-publicacao").html(opts._source.data_publicacao.substring(0,10));
              }
              else{
                $(".info-data-publicacao").html("-");
              }
              $(".info-sazonalidade").html((opts._source.sazonalidade.indexOf("NAO ") > -1)?"Não":"Sim");
              $(".info-volume-anual").html(opts._source.volume_anual);
              $(".info-vazao-max").html(opts._source.vazao_max.vazao);

              if(element._source.vazoes[0].vazao == null){
                $("#nav-discharges-tab").addClass("disabled");
              }
              else{
                $("#nav-discharges-tab").removeClass("disabled");
              }

              $.each(element._source.vazoes, function(k,v){
                
                let line = ""
                if(v.vazao != null){
                  
                  line += "<tr>";
                    line += "<td class='scope'>"+(k+1)+"</td>";
                    line += "<td class='scope'>"+getMonthName(k+1)+"</td>";
                    line += "<td class='scope'>"+v.dias+"</td>";
                    line += "<td class='scope'>"+(v.horas + (v.minutos/60)).toLocaleString()+"</td>";
                    line += "<td class='scope'>"+v.vazao.toLocaleString()+"</td>";
                    line += "<td class='scope'>"+v.volume.toLocaleString()+"</td>";
                  line += "</tr>";
                }

                $("#infoOutorga").find(".modal-body").find(".table-vazoes").append(line);
              });

             
            });
            //console.log(marker);
            //Append Data to Table
            markers.addLayer(marker);
            bounds.extend([element._source.latitude, element._source.longitude]);
          });

          $('#tabela-outorgas').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel'
            ],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
            },
            fnInitComplete: function(){
              $('div.toolbar').html('<button class="btn btn-success"><i class="bi bi-trash"></i></button>');
              $(".dt-buttons").find("button").addClass("btn btn-outline-success");
            }
          });

          
         

          map.addLayer(markers);
          if(bounds.isValid()){
            map.fitBounds(bounds);            
            
          }
        }

        $("#btn_filter").on('click', function(e){
          console.log("Filter Button Clicked...");
          $("#form_search").submit();
        });

        function truncateString(str, num) {
          if (str.length > num) {
            return str.slice(0, num) + "...";
          } else {
            return str;
          }
        }

        function renderRowToTable(target,data){
          let row = "";
          row += "<tr>";
            row += "<td>"+data.uso_id+"</td>";
            row += "<td>"+data.municipio+"</td>";
            row += "<td>"+getUgrhi(data.ugrhi)+"</td>";
            row += "<td>"+getDirCod(data.diretoria_req)+"</td>";
            row += "<td>"+parseFloat(data.latitude).toFixed(6)+""+parseFloat(data.longitude).toFixed(6)+"</td>";
            row += "<td>"+data.tipo_de_req_simplificado+"</td>";
            row += "<td>"+data.tp_uso_subtipo1+"</td>";
            row += "<td>"+data.finalidade_1630+"</td>";
            row += "<td>"+data.decisao_pto+"</td>";
            row += "<td>"+data.portaria+"</td>";
            
            if(data.data_publicacao){ row += "<td>"+data.data_publicacao.substring(0,10) +"</td>"; }else{ row += "<td>-</td>"; }

            row += "<td>"+data.volume_anual.toLocaleString()+"</td>";
            
            if(data.vazao_max){ row += "<td>"+data.vazao_max.vazao.toLocaleString()+"</td>"; }else{ row += "<td>-</td>"; }

            $.each(data.vazoes, function(k,v){
              //let mes = (k+1);
              row += "<td>"+v.volume.toLocaleString()+"</td>";
            });

          row += "</tr>";

          
            
          $(target).append(row);
        }

        // The download function takes a CSV string, the filename and mimeType as parameters
        // Scroll/look down at the bottom of this snippet to see how download is called
        var download = function(content, fileName, mimeType) {
          var a = document.createElement('a');
          mimeType = mimeType || 'application/octet-stream';

          if (navigator.msSaveBlob) { // IE10
            navigator.msSaveBlob(new Blob([content], {
              type: mimeType
            }), fileName);
          } else if (URL && 'download' in a) { //html5 A[download]
            a.href = URL.createObjectURL(new Blob([content], {
              type: mimeType
            }));
            a.setAttribute('download', fileName);
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          } else {
            location.href = 'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
          }
        }

        function convertToCSV(arr) {
          const array = [Object.keys(arr[0])].concat(arr)

          return array.map(it => {
            return Object.values(it).toString()
          }).join('\n')
        }

        function getDirCod(name){
          if(name == "Diretoria da Bacia do Alto Tietê e Baixada Santista"){
            return "BAT-BS";
          }
          else if(name == "Diretoria da Bacia do Médio Tietê"){
            return "BMT";
          }
          else if(name == "Diretoria de Bacia do Baixo Tietê"){
            return "BBT";
          }
          else if(name == "Diretoria de Bacia do Peixe Paranapanema"){
            return "BPP";
          }
          else if(name == "Diretoria de Bacia do Turvo Grande"){
            return "BTG";
          }
          else if(name == "Diretoria de Bacia do Pardo Grande"){
            return "BPG";
          }
          else if(name == "Diretoria de Bacia do Ribeira de Iguape e Litoral Sul"){
            return "BRI-LS";
          }
          else if(name == "Diretoria de Bacia do Paraíba e Litoral Norte"){
            return "BP-LN";
          }
          else{
            return "Desconhecida";
          }
        }

        function getUgrhi(cod){
          if(cod == 1){ return "Mantiqueira"; }
          else if(cod == 2){ return "Paraíba do Sul"; }
          else if(cod == 3){ return "Litoral Norte" }
          else if(cod == 4){ return "Pardo" }
          else if(cod == 5){ return "Piracicaba/Capivari/Jundiaí" }
          else if(cod == 6){ return "Alto Tietê" }
          else if(cod == 7){ return "Baixada Santista" }
          else if(cod == 8){ return "Sapucaí/Grande" }
          else if(cod == 9){ return "Mogi-Guaçu" }
          else if(cod == 10){ return "Tietê/Sorocaba" }
          else if(cod == 11){ return "Ribeira de Iguape/Litoral" }
          else if(cod == 12){ return "Baixo Pardo/Grande" }
          else if(cod == 13){ return "Tietê/Jacaré" }
          else if(cod == 14){ return "Alto Paranapanema" }
          else if(cod == 15){ return "Turvo/Grande" }
          else if(cod == 16){ return "Tietê/Batalha" }
          else if(cod == 17){ return "Médio Paranapanema" }
          else if(cod == 18){ return "São José dos Campos" }
          else if(cod == 19){ return "Baixo Tietê" }
          else if(cod == 20){ return "Aguapeí" }
          else if(cod == 21){ return "Peixe" }
          else if(cod == 22){ return "Pontal do Paranapanema" }
          else if(cod == 99){ return "Não cadastrada"}
          else if(cod == 9999){return "Fora do Estado de São Paulo"}
          else{
            return "Indefinida";
          }
        }

        function getMonthName(month){
          let ret = "";

          if(month == 1){ret = "Janeiro";}
          else if(month == 2){ret = "Fevereiro";}
          else if(month == 3){ret = "Março";}
          else if(month == 4){ret = "Abril";}
          else if(month == 5){ret = "Maio";}
          else if(month == 6){ret = "Junho";}
          else if(month == 7){ret = "Julho"}
          else if(month == 8){ret = "Agosto"}
          else if(month == 9){ret = "Setembro";}
          else if(month == 10){ret = "Outubro";}
          else if(month == 11){ret = "Novembro";}
          else if(month == 12){ret = "Dezembro";}
          else{
            ret = "Desconhecido";
          }
          return ret;
        }

        function calculate_discharge_per_month(minutes,hours,days,discharge){
          return (((minutes/60)+hours)*days)*discharge;
        }

        function populateUgrhisSelect(){
          $("#ugrhi").empty();
          $("#ugrhi").append("<option value=''>-</option>");
          $.each(ugrhis.ugrhis, function(k,v){
            let obj = "<option value='"+v.codigo+"'>"+v.nome+"</option>";
            //console.log(obj);
            $("#ugrhi").append(obj);
          });
        }

        function populateMunicipiosSelect(){
          $("#municipio").empty();

          $("#municipio").append("<option value=''>-</option>");
          $.each(municipios.municipios, function(k,v){
            
            let obj = "<option value='"+v.nome+"'>"+v.nome+"</option>";
            //console.log(obj);
            $("#municipio").append(obj);
          });
        }

        function fillFormWithUrl(){
          console.log(window.location.search);
          let params = new URLSearchParams(window.location.search);
          //console.log(params);
          //let q = params.get("municipio");
          //console.log(q)

          $("#municipio").val(params.get("municipio")).change();
          $("#ugrhi").val(params.get("ugrhi")).change();
          $("#data_publicacao").val(params.get("data_publicacao"));
        }

      </script>
    </body>

</html>
