<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PTJ1HGHNW1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PTJ1HGHNW1');
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <script src="https://kit.fontawesome.com/170baf7a52.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-hash/0.2.1/leaflet-hash.min.js"></script>

    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    <script src="libs/beautifyIcons/leaflet-beautify-marker-icon.js"></script>
    <link href="libs/beautifyIcons/leaflet-beautify-marker-icon.css" rel="stylesheet" type="text/css" />

    <script src="libs/sidePanel/leaflet-sidepanel.js"></script>
    <link href="libs/sidePanel/leaflet-sidepanel.css" rel="stylesheet" type="text/css"/>

    <!-- Include Datatables -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
    <link href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.dataTables.min.css" />

    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>

    <script src="
    https://cdn.jsdelivr.net/npm/leaflet-iconlayers@0.2.0/dist/iconLayers.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/leaflet-iconlayers@0.2.0/dist/iconLayers.min.css
    " rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="municipios.js"></script>
    <script src="ugrhis.js"></script>

    <style>
      body {
          padding: 0;
          margin: 0;
      }
      html, body {
          height: 100%;
          width: 100vw;
          overflow: hidden;
      }

      #map{
        height: 92.5vh;
        width: 100vw;
        overflow: hidden;
        position: fixed;
        margin-top: 60px !important; 
        left: 0;
      }

      .selector-for-some-widget {
        box-sizing: content-box;
      }

      .text-purple{
        color: #c101fc !important; 
      }

      .text-cyan {
        color: #00c3ff !important;
      }

      .text-orange{
        color: #ffa705 !important;
      }

      .text-teal{
        color: #78b858 !important;
      }

      .text-blue{
        color: #0d6efd !important;
      }
      .text-indigo{
        color: #6610f2 !important;
      }
      .text-pink{
        color: #6f42c1 !important;
      }
      .text-red{
        color: #dc3545 !important;
      }
      .text-yellow{
        color: #ffc107 !important;
      }
      .text-green{
        color: #198754 !important;
      }
      
      .info {
          padding: 6px 8px;
          font: 14px/16px Arial, Helvetica, sans-serif;
          background: white;
          background: rgba(255,255,255,0.8);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
          border-radius: 5px;
      }
      .info h4 {
          margin: 0 0 5px;
          color: #777;
      }

    .sidepanel-content {
			font-size: 1rem;
		}
    .sidepanel-content-wrapper .sidepanel-content {
        position: relative !important;
        padding: 1rem 1rem;
    }

		.sidepanel-content h4 {
			margin-top: 0;
			margin-bottom: 0;
		}

		.sidepanel-content a {
			text-decoration: none;
			font-size: 1rem;
			color: #199900;
			transition: color 0.3s ease-in;
		}

		.sidepanel-content a:hover {
			color: #116600;
			text-decoration: underline;
		}

    table.dataTable td{
      font-size: 12px;
    }

    table.dataTable th{
      font-size: 12px;
    }

    /* Ensure that the demo table scrolls */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    </style>

    </head>
    <body class="bg-light">
      
      <nav class="navbar navbar-dark bg-dark fixed-top">
        
          <form class="container-fluid d-flex justify-content-center">
            <span class="navbar-text">
              <a class="navbar-brand" href="/">SOE-SP Águas</a>
            </span>

            <span class="navbar-text d-none d-lg-block me-2">
              Visualizador de Atos de Outorgas e Cadastros
            </span>

            <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="modal" data-bs-target="#modal-tabela-outorgas" aria-controls="offcanvasBottom">
              <i class="bi bi-table text-primary"></i>
            </button>
            <button  class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="modal" data-bs-target="#modal-filtro" aria-controls="offcanvasNavbar">
              <!--<span class="navbar-toggler-icon"></span>-->
              <i class="bi bi-search text-success"></i>
            </button>

            <button  class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="modal" data-bs-target="#modal-coords" aria-controls="offcanvasNavbar">
              <!--<span class="navbar-toggler-icon"></span>-->
              <i class="bi bi-geo-fill text-warning"></i>
            </button>
            <!--<button  class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modal-help" aria-controls="offcanvasNavbar">
              <i class="bi bi-book text-warning"></i>
            </button>-->
          </form>

      </nav>

      <!-- Modal -->
      <div class="modal fade" id="infoOutorga" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-circle-info"></i> Informações</button>
                  <button class="nav-link" id="nav-discharges-tab" data-bs-toggle="tab" data-bs-target="#nav-discharges" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-water"></i> Vazões</button>
                  <!--<button class="nav-link" id="nav-charts-tab" data-bs-toggle="tab" data-bs-target="#nav-charts" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Gráfico</button>-->
                  
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                  <br/>
                  <table class="table table-bordered table-sm">
                    
                    <tbody>
                      
                      <tr>
                        <th>Cidade</th><td class="info-municipio">-</td>
                      </tr>
                      <tr>
                        <th>Diretoria</th><td class="info-diretoria">-</td>
                      </tr>
                      <tr>
                        <th>Ugrhi</th><td class="info-ugrhi">-</td>
                      </tr>
                     
                      <tr>
                        <th>Tipo</th><td class="info-tipo">-</td>
                      </tr> 
                      <tr>
                        <th>Sub-Tipo</th><td class="info-sub-tipo">-</td>
                      </tr>  
                      <tr>
                        <th>Finalidade</th><td class="info-finalidade">-</td>
                      </tr>
                      <tr>
                        <th>Requerente</th><td class="info-requerente">-</td>
                      </tr>
                      <!--<tr>
                        <th>Decisão do Parecer Técnico</th><td class="info-decisao">-</td>
                      </tr>-->      
                      <!--<tr>
                        <th>Núm.Processo</th><td class="info-processo">-</td>
                      </tr>-->
                      <tr>
                        <th>Núm.Portaria</th><td class="info-portaria">-</td>
                      </tr>
                      <tr>
                        <th>Data da Publicação</th><td class="info-data-publicacao">-</td>
                      </tr>
                      <tr>
                        <th>Data de vencimento</th><td class="info-validade-pto">-</td>
                      </tr>
                      <tr>
                        <th>Vazão Sazonal?</th><td class="info-sazonalidade">-</td>
                      </tr>
                      <tr>
                        <th>Volume Anual (m³)</th><td class="info-volume-anual"></td>
                      </tr>
                      <tr>
                        <th>Vazão (m³/h)</th><td class="info-vazao-max"></td>
                      </tr>
                      <tr><th>Localização</th><td class="info-location"></td></tr>
                      <tr><th>Curso D'agua</th><td class="info-curso-agua"></td></tr>                         
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-discharges" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                  <br/>
                  <table class="table table-bordered table-sm">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mês</th>
                        <th scope="col">Dias</th>
                        <th scope="col">Horas</th>
                        <th scope="col">Minutos</th>
                        <th scope="col">Vazão(m³/h)</th>
                        <th scope="col">Vol.Mensal(m³)</th>
                      </tr>
                    </thead>
                    <tbody class="table-vazoes">
                    </tbody>
                  </table>
                </div>
                <!--<div class="tab-pane fade" id="nav-charts" role="tabpanel" aria-labelledby="nav-charts-tab" tabindex="0">...</div>-->
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modal-filtro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Filtro Dinâmico</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="form_search" action="#" method="GET">
                <div class="mb-3">
                  <label for="sol_req_num_cod" class="form-label">Número de Requerimento</label>
                  <input type="text" class="form-control" id="sol_req_num_cod" name="sol_req_num_cod" aria-describedby="emailHelp">
                  <div id="nro_requerimento_help" class="form-text">Código que identifica a outorga.</div>
                </div>
                
                <div class="row">
                  <div class="col-md-6">
                    <label for="municipio" class="form-label">Município</label>
                    <select name="cod_ibge" id="municipio" class="form-control">  
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="ugrhi" class="form-label">Ugrhis</label>                  
                    <select name="cod_ugrhi" id="cod_ugrhi" class="form-control"></select>
                  </div>                 
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label for="diretoria" class="form-label">Diretoria de Bacia</label>
                    <select name="diretoria_sigla" id="diretoria" class="form-control">
                      <option value="">-</option>
                      <option value="BAT">Diretoria de Bacia do Alto Tietê e Baixada Santista</option>
                      <option value="BMT">Diretoria da Bacia do Médio Tietê</option>
                      <option value="BPB">Diretoria de Bacia do Paraíba e Litoral Norte</option>
                      <option value="BPG">Diretoria de Bacia do Pardo Grande</option>
                      <option value="BBT">Diretoria de Bacia do Baixo Tietê</option>
                      <option value="BPP">Diretoria de Bacia do Peixe Paranapanema</option>
                      <option value="BRB">Diretoria de Bacia do Ribeira de Iguape e Litoral Sul</option>
                      <option value="BTG">Diretoria de Bacia do Turvo Grande</option>
                    </select>
                  </div>                              
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label for="finalidade" class="form-label">Finalidade</label>
                    <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                    <select name="tipo_finalidade_grupo" id="finalidade" class="form-control">,
                      <option value="">-</option>
                      <option value="Urbano">Urbano</option>
                      <option value="Irrigação">Irrigação</option>
                      <option value="Industrial">Industrial</option>
                      <option value="Doméstico">Doméstico</option>
                      <option value="Aquicultura">Aquicultura</option>
                      <option value="Outros">Outros</option>
                      <option value="Comércio e Serviços">Comércio e Serviços</option>
                      <option value="Recreação e Paisagismo">Recreação e Paisagismo</option>
                      <option value="Regularização de Nível">Regularização de Nível</option>
                      <option value="Regularização de Vazões">Regularização de Vazões</option>
                      <option value="Mineração">Mineração</option>
                      <option value="Rural">Rural</option>
                      <option value="Controle de Cheias">Controle de Cheias</option>
                      <option value="Geração de Energia">Geração de Energia</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="tipo_uso" class="form-label">Tipo de Uso</label>
                    <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                    <select name="tipo_uso" id="tipo_uso" class="form-control">,
                      <option value="">-</option>
                      <!--<option value="Autorização para perfuração de Poço Tubular">Poço Tubular</option>
                      <option value="Captação Superficial">Captação Superficial</option>
                      <option value="Lançamento Superficial">Lançamento Superficial</option>
                      <option value="Estrutura de Reservação">Estrutura de Reservação</option>
                      <option value="Poço Escavado (cisterna/cacimba)">Poço Escavado (cisterna/cacimba)</option>
                      <option value="Barramento">Barramento</option>
                      <option value="Extração de Minério">Extração de Minério</option>
                      <option value="Reversão entre Corpos de Água">Reversão entre Corpos de Água</option>
                      <option value="Barramento">Barramento</option>
                      <option value="Retificação/Revogação">Retificação/Revogação</option>
                      <option value="Travessia Subterrânea">Travesia Subterrânea</option>
                      <option value="Travessia Aérea">Travesia Aérea</option>
                      <option value="Obra ou Serviço de Proteção de Margem ou Leito">Obra/Serviço de Proteção de Margem/Leito</option>
                      <option value="Outros">Outros</option>-->

                      <option value="Travessia Subterrânea">Travessia Subterrânea</option>
                      <option value="Autorização para perfuração de Poço Tubular">Poço Tubular</option>
                      <option value="Lançamento Superficial">Lançamento Superficial</option>
                      <option value="Captação Subterrânea">Captação Subterrânea</option>
                      <option value="Captação Superficial">Captação Superficial</option>
                      <option value="Reservatório de Acumulação">Reservatório de Acumulação</option>
                      <option value="Obra ou Serviço de Proteção de Margem ou Leito">Obra ou Serviço</option>
                      <option value="Retificação / Revogação">Retificação / Revogação</option>
                      <option value="Canalização">Canalização</option>
                      <option value="Travessia Aérea">Travessia Aérea</option>
                      <option value="Barramento">Barramento</option>
                      <option value="Desassoreamento e Limpeza de Margem">Desassoreamento</option>
                      <option value="Travessia">Travessia</option>
                      <option value="Extração de Minério">Extração de Minério</option>

                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="row">
                    <div class="col">
                      <label for="data_publicacao" class="form-label">Publicado De</label>
                      <input name="data_publicacao_gte" id="data_publicacao" type="date" html5=true class="form-control"></input>
                    </div>
                    <div class="col">
                      <label for="data_publicacao" class="form-label">Publicado Até</label>
                      <input name="data_publicacao_lte" id="data_publicacao" type="date" html5=true class="form-control"></input>
                    </div>
                  </div>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              
              <button type="button" onclick="clearFiltroForm()" class="btn btn-warning">Limpar</button>
              <button type="button" class="btn btn-primary" id="btn_filter">Filtrar Outorgas</button>
              
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-coords" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Filtro Geo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="form_geo" action="#" method="GET">
                <!--<div class="mb-3">
                  <label for="nro_requerimento" class="form-label">Número de Requerimento</label>
                  <input type="text" class="form-control" id="nro_requerimento" name="nro_requerimento" aria-describedby="emailHelp">
                  <div id="nro_requerimento_help" class="form-text">Código que identifica a outorga.</div>
                </div>-->
                
                <div class="mb-3">
                  <label for="latitude" class="form-label">Latitude</label>
                  <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                  <input type="text" id="latitude" placeholder="-22.1231" onchange="updateLocationValue()" onkeyup="updateLocationValue()" class="form-control">

                  </select>
                </div>

                <div class="mb-3">
                  <label for="longitude" class="form-label">Longitude</label>
                  <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                  <input type="text" id="longitude" placeholder="-44.3231" onchange="updateLocationValue()" onkeyup="updateLocationValue()" class="form-control">

                  </select>
                </div>

                <input type="hidden" name="location" id="location" value="" />

                <div class="mb-3">
                  <label for="distance" class="form-label">Raio de Busca (km) => <span id="txt_raio_km"></span></label>
                  <!--<input type="text" class="form-control" id="municipio" name="municipio">-->
                  <input name="distance" id="distance" type="range" oninput="changeRaioText('#txt_raio_km',this.value)" onchange="changeRaioText('#txt_raio_km',this.value)" min="0.1" max="50" step="0.1" value="50" html5=true class="form-control"></input>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" id="btn_my_coords">Minha Localização</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-primary" id="btn_filter_geo">Filtrar</button>
            </div>
          </div>
        </div>
      </div>

           <!-- Modal -->
           <div class="modal fade" id="modal-help" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Suporte - Ajuda</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
          </div>

       <!-- Modal -->
       <div class="modal fade" id="modal-tabela-outorgas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Tabela de Outorgas</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table id="tabela-outorgas" class="table table-bordered table-sm display compact row-border order-column" style="width:100%">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Uso</th>
                    <th>Cidade</th>
                    <th>Ugrhi</th>
                    <th>Diretoria</th>
                    <th>Requerente (CNPJ/CPF)</th>
                    <th>Nome Requerente (Nome/Razão Social)</th>
                    <th>Coordenadas (Lat,Lon)</th>
                    <th>Tipo</th>
                    <th>Sub-Tipo</th>
                    <th>Finalidade</th>
                    <!--<th>Decisão</th>-->
                    <th>Portaria</th>
                    <th>Data Publicação</th>
                    <th>Volume Anual</th>
                    <th>Vazão(m³/h)</th>
                    
                    <th>Domínio</th>
                    <th>Curso D'Água</th>
                    <th>CNARH</th>

                    <th>Jan(dias)</th>
                    <th>Jan(horas)</th>
                    <th>Jan(mins)</th>
                    <th>Jan(m³)</th>
                    
                    <th>Fev(dias)</th>
                    <th>Fev(horas)</th>
                    <th>Fev(mins)</th>
                    <th>Fev(m³)</th>
                    
                    <th>Mar(dias)</th>
                    <th>Mar(horas)</th>
                    <th>Mar(mins)</th>
                    <th>Mar(m³)</th>

                    <th>Abr(dias)</th>
                    <th>Abr(horas)</th>
                    <th>Abr(mins)</th>
                    <th>Abr(m³)</th>

                    <th>Mai(dias)</th>
                    <th>Mai(horas)</th>
                    <th>Mai(mins)</th>
                    <th>Mai(m³)</th>

                    <th>Jun(dias)</th>
                    <th>Jun(horas)</th>
                    <th>Jun(mins)</th>
                    <th>Jun(m³)</th>

                    <th>Jul(dias)</th>
                    <th>Jul(horas)</th>
                    <th>Jul(mins)</th>
                    <th>Jul(m³)</th>

                    <th>Ago(dias)</th>
                    <th>Ago(horas)</th>
                    <th>Ago(mins)</th>
                    <th>Ago(m³)</th>

                    <th>Set(dias)</th>
                    <th>Set(horas)</th>
                    <th>Set(mins)</th>
                    <th>Set(m³)</th>

                    <th>Out(dias)</th>
                    <th>Out(horas)</th>
                    <th>Out(mins)</th>
                    <th>Out(m³)</th>

                    <th>Nov(dias)</th>
                    <th>Nov(horas)</th>
                    <th>Nov(mins)</th>
                    <th>Nov(m³)</th>

                    <th>Dez(dias)</th>
                    <th>Dez(horas)</th>
                    <th>Dez(mins)</th>
                    <th>Dez(m³)</th>
                  </tr>
                  
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              
            </div>
          </div>
        </div>
      </div>

      <div id="panel-legend" class="sidepanel sidepanel-right tabs-left" aria-label="side panel" aria-hidden="false">
        <div class="sidepanel-inner-wrapper">
          <nav class="sidepanel-tabs-wrapper" aria-label="sidepanel tab navigation">
            <ul class="sidepanel-tabs">
              <li class="sidepanel-tab">
                <a href="#" class="sidebar-tab-link active" role="tab" data-tab-link="tab-link-by-finality">
                  <i class="fa-solid fa-window-restore"></i>
                </a>
              </li>

              <li class="sidepanel-tab">
                <a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-link-by-types">
                  <i class="fa-solid fa-water"></i>
                </a>
              </li>

              <li class="sidepanel-tab">
                <a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-link-ranking">
                  <i class="fa-solid fa-ranking-star"></i>
                </a>
              </li>
              
              <!--<li class="sidepanel-tab">
                <a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-3">
                  <i class="fa-solid fa-cloud-showers-water"></i>
                </a>
              </li>
              <li class="sidepanel-tab">
                <a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-4">
                  <i class="fa-solid fa-calculator"></i>
                </a>
              </li>
              <li class="sidepanel-tab">
                <a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-5">
                  <i class="fa-solid fa-cog"></i>
                </a>
              </li>-->
              <!--<li class="sidepanel-tab">
                <a href="#" class="sidebar-tab-link" role="tab" data-tab-link="tab-link-credits">
                  <i class="fa-solid fa-users"></i>
                </a>
              </li>-->
            </ul>
          </nav>
          <div class="sidepanel-content-wrapper">
            <div class="sidepanel-content">
              <div class="sidepanel-tab-content active" data-tab-content="tab-link-by-finality">
                <div id="tab-finality"></div>
              </div>

              <div class="sidepanel-tab-content" data-tab-content="tab-link-ranking">
                <h4>Ranking de Outorgas</h4><br/>
                <p>Classificação aplicada as outorgas filtradas.</p>

                <div id="tab-ranking"></div>
              </div>

              <div class="sidepanel-tab-content" data-tab-content="tab-link-by-types">
                <div id="tab-use-type"></div>
              </div>

              <div class="sidepanel-tab-content" data-tab-content="tab-link-by-cities">
                <h4>Estatísticas</h4>
                <p>Informações Estatísticas Gerais</p>
              </div>
              <div class="sidepanel-tab-content" data-tab-content="tab-5">
                <h4>Configurações</h4>
                <p>Configurações Gerais</p>
              </div>
              
            </div>
          </div>
        </div>
        <div class="sidepanel-toggle-container">
          <button class="sidepanel-toggle-button" type="button" aria-label="toggle side panel"></button>
        </div>
      </div>
      
      <div id="map"></div>
      

      <script>
        var map = L.map('map').setView([-22.523, -46.527], 7);
        let bounds = L.latLngBounds([]);

        var iconLayersControl = new L.Control.IconLayers(
            [
                {
                  title: 'SP Águas', // use any string
                  layer: L.tileLayer('https://api.mapbox.com/styles/v1/diegomonteiro/cm6n8n8s600ba01qs2zcr7beb/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiZGllZ29tb250ZWlybyIsImEiOiJjbThydng2b28wcmN5MnhwcWFtNDlzNzZpIn0.iAsj5bNqJNtZpEsWpI24IA', {
                          maxZoom: 19,
                          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                  }), // any ILayer
                  icon: './icons/spaguas_ugrhis.png' // 80x80 icon
                },
                {
                  title: 'OpenST', // use any string
                  layer: L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                          maxZoom: 19,
                          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                  }), // any ILayer
                  icon: './icons/openstreetmap_de.png' // 80x80 icon
                },
                {
                  title: 'Satélite', // use any string
                  layer: L.tileLayer('https://api.mapbox.com/styles/v1/diegomonteiro/clrqvk62d00df01p1ci0zek7y/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiZGllZ29tb250ZWlybyIsImEiOiJjbThydng2b28wcmN5MnhwcWFtNDlzNzZpIn0.iAsj5bNqJNtZpEsWpI24IA', {
                          maxZoom: 19,
                          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                  }), // any ILayer
                  icon: './icons/mapbox-satelite.png' // 80x80 icon
                },
                {
                  title: 'Outdoors', // use any string
                  layer: L.tileLayer('https://api.mapbox.com/styles/v1/diegomonteiro/ckzsznqn1001b14k5jqpw442k/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiZGllZ29tb250ZWlybyIsImEiOiJjbThydng2b28wcmN5MnhwcWFtNDlzNzZpIn0.iAsj5bNqJNtZpEsWpI24IA', {
                          maxZoom: 19,
                          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                  }), // any ILayer
                  icon: './icons/mapbox-outdoors.png' // 80x80 icon
                },
                {
                  title: 'Cartas 1:50k', // use any string
                  layer: L.tileLayer.wms('https://datageo.ambiente.sp.gov.br/geoimage/datageoimg/ows?SERVICE=WMS', {
                    layers: 'Cartas_50k_IBGE'
                  }), // any ILayer
                  icon: './icons/cartas_ibge_50k.png' // 80x80 icon
                },
                {
                  title: 'Mapbox Streets', // use any string
                  layer: L.tileLayer('https://api.mapbox.com/styles/v1/diegomonteiro/ckzszgvlx000w15tda9cra69w/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiZGllZ29tb250ZWlybyIsImEiOiJjbThydng2b28wcmN5MnhwcWFtNDlzNzZpIn0.iAsj5bNqJNtZpEsWpI24IA', {
                          maxZoom: 19,
                          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                  }), // any ILayer
                  icon: './icons/mapbox-streets.png' // 80x80 icon
                }
            ], {
                position: 'bottomleft',
                maxLayersInRow: 3
            }
        );

        iconLayersControl.addTo(map);

        iconLayersControl.on('activelayerchange', function(e) {
            console.log('layer switched', e.layer);
        });

        //$('#modal-filtro').modal('show');
        const modal_filtro = new bootstrap.Modal('#modal-filtro');

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        let ugrhiLayer = L.layerGroup([]);
        let municipioLayer = L.layerGroup([]);
        let geo_distance_groups = L.layerGroup([]);

        municipioLayer.addTo(map);
        ugrhiLayer.addTo(map);
        geo_distance_groups.addTo(map);

        populateMunicipiosSelect();
        populateUgrhisSelect();
        fillFormWithUrl();

        $("#btn_filter").prop("disabled", true);

        let rst = '<%- outorgas %>';

        var markers = L.markerClusterGroup();

        let outorgas_table_obj = [];
        
        var hash = new L.Hash(map);

        let outorgas;

        $("#sol_req_num_cod").on('keyup', function(e){
          let value = $("#sol_req_num_cod").val();

          if(value.length > 0){
            $("#municipio,#cod_ugrhi,#finalidade,#tipo_uso,#data_publicacao").prop( "disabled", true );
            $("#btn_filter").prop("disabled", false);
          }
          else{
            $("#municipio,#cod_ugrhi,#finalidade,#tipo_uso,#data_publicacao").prop( "disabled", false );
          }
        });
        
        $("#cod_ugrhi,#municipio,#diretoria,#finalidade,#tipo_uso,#data_publicacao").on('change', function(e){
          //console.log("Select Ugrhi or Municipio Changed: ", $(e.currentTarget));
          let el = $(this);
          let current_id = el.attr('id');
          let current_value = el.find(":selected").val();

          //console.log("Element: ", el.attr('id'))
          if($("#cod_ugrhi").val() == "-" && $("#municipio").val() == "-" && ("#diretoria").val() == "-"){
            $("#municipio,#cod_ugrhi,#diretoria").prop("disabled", false);
            $("#btn_filter").prop("disabled", true);
          }
          else if(current_id == 'municipio' && current_value != ''){
            //Disable Ugrhi
            $("#cod_ugrhi").prop("disabled", true);
            $("#diretoria").prop("disabled", true);
            $("#btn_filter").prop("disabled", false);
          }
          else if(current_id = 'ugrhi' && current_value != ''){
            $("#municipio").prop("disabled", true);
            $("#diretoria").prop("disabled", true);
            $("#btn_filter").prop("disabled", false);
          }
          else if(current_id = 'diretoria' && current_value != ''){
            $("#municipio").prop("disabled", true);
            $("#cod_ugrhi").prop("disabled", true);
            $("#btn_filter").prop("disabled", false);
          }

          //console.log("Element: ", el.find(":selected").val() );
        })

        //Check if any filter applyed to disable or enable filter button
        

        if(rst != ""){
          outorgas = JSON.parse(rst.replaceAll("&#34;","\""));

          outorgas.forEach(element => {
            let source = element._source;
            
            console.log("Source: ", source);

            let discharges = [];

            let months = ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']

            //Calculate discharge 12 months
            for(let i = 0; i < months.length; i++){
              
              //let x = (""+i).padStart(2,'0');
              let x = months[i];
              let days  = source["days_in_month_"+x];
              let hours = source["hours_in_day_"+x];
              let mins  = source["mins_in_hours_"+x];
              let vaz   = source["vaz_"+x];
              let vol   = source["total_vol_m3_"+x];

              days = (days != '' && days != 'null' && days != null) ? days : 0;
              hours = (hours != '' && hours != 'null' && hours != null) ? hours : 0;
              mins = (mins != '' && mins != 'null' && mins != null) ? mins : 0;
              vaz = (vaz != '' && vaz != 'null' && vaz != null) ? vaz : 0;
              vol = (vol != '' && vol != 'null' && vol != null) ? vol : 0;

              //let dis   = days * (hours + (mins/60)) * vaz;
              let dis = vol;

              discharges.push({
                dias: days,
                horas: hours,
                minutos: mins,
                vazao: vaz,
                volume: dis
              });

              //console.log("Discharge: ", dis," - [days: ",days,", hours: ",hours,", minutes: ",mins,"]");
            }

            element._source["vazoes"] = discharges;
            element._source["volume_anual"] = _.sumBy(discharges, 'volume');
            element._source["vazao_max"] = _.maxBy(discharges, 'vazao');

            renderRowToTable("#tabela-outorgas", element._source);

            let icon_options = getIconOptions(element._source);

            let marker = L.marker([element._source.latitude, element._source.longitude],{
              title: element._source.uso_id,
              data: element,
              icon: L.BeautifyIcon.icon(icon_options)
            }).on('click', function(e){
              console.log("Clicou no marker: ", e);

              let opts = e.sourceTarget.options.data;

              const md = new bootstrap.Modal('#infoOutorga', {
                keyboard: false
              });

              md.show();            
              
              $("#infoOutorga").find(".modal-title").html("Requerimento: "+element._source.sol_req_num_cod+" - Código do Uso: "+element._source.uso_id);
              $("#infoOutorga").find(".modal-body").find(".table-vazoes").empty();

              $(".info-municipio").html(opts._source.municipio);

              if(opts._source.cnpj_requerente != null && opts._source.cnpj_requerente != undefined){
                $(".info-requerente").html(opts._source.cnpj_requerente + " - "+opts._source.razao_social_requerente);
              }
              else{
                $(".info-requerente").html("******");
              }
              
              if(opts._source.nome_curso_agua != null && opts._source.nome_curso_agua != undefined && opts._source.nome_curso_agua != ""){
                $(".info-curso-agua").html("Nome: "+opts._source.nome_curso_agua+" Dominio: "+opts._source.dominio+" - CNARH: "+opts._source.cnarh);
              }
              else{
                $(".info-curso-agua").html("-");
              }

              $(".info-curso-agua").html(opts._source.nome_curso_agua);

              $(".info-diretoria").html(opts._source.diretoria_nome);
              $(".info-ugrhi").html(getUgrhi(opts._source.cod_ugrhi));
              $(".info-coordenadas").html(truncateString(""+opts._source.latitude, 12)+","+truncateString(""+opts._source.longitude,12));

              $(".info-tipo").html(opts._source.tipo_uso);
              $(".info-sub-tipo").html(opts._source.subtipo_uso);
              $(".info-finalidade").html(opts._source.tipo_finalidade_grupo);
              $(".info-decisao").html(opts._source.decisao_pto);
              $(".info-processo").html(opts._source.processo);
              $(".info-portaria").html(opts._source.numero_portaria);

              if(opts._source.data_publicacao){
                $(".info-data-publicacao").html(opts._source.data_publicacao.substring(0,10));
                let dt_vencimento = moment(opts._source.data_publicacao.substring(0,10),'YYYY-MM-DD').add(opts._source.validade_meses_pto,'months');
                
                console.log("Data de Vencimento: ", dt_vencimento)
                //console.log("Data: ", moment(opts._source.data_publicacao.substring(0,10)).format("YYYY-MM-DD")," => ",opts._source.validade_pto_meses," <> ",dt_vencimento.format("YYYY-MM-DD"));
                if(dt_vencimento.format("YYYY-MM-DD") != opts._source.data_publicacao.substring(0,10)){
                  $(".info-validade-pto").html(dt_vencimento.format("YYYY-MM-DD"));
                }
              }
              else{
                $(".info-data-publicacao").html("-");
              }

              //$(".info-sazonalidade").html((opts._source.sazonalidade.indexOf("SIM ") > -1)?"Não":"Sim");
              $(".info-volume-anual").html(opts._source.volume_anual.toFixed(2));
              $(".info-vazao-max").html(opts._source.vazao_max.vazao);

              $(".info-location").html("<a target='_blank' href='https://maps.google.com?q="+opts._source.location+"'>Ver no Google Maps</a>");

              if(element._source.vazoes[0].vazao == null){
                $("#nav-discharges-tab").addClass("disabled");
              }
              else{
                $("#nav-discharges-tab").removeClass("disabled");
              }

              var total_volume = 0;

              $.each(element._source.vazoes, function(k,v){
                
                let line = ""
                if(v.vazao != null){
                  console.log("Vazão: ", v);
                  total_volume += v.volume;

                  line += "<tr>";
                    line += "<td class='scope'>"+(k+1)+"</td>";
                    line += "<td class='scope'><b>"+getMonthName(k+1)+"</b></td>";
                    line += "<td class='scope'>"+v.dias+"</td>";
                    line += "<td class='scope'>"+(v.horas).toLocaleString()+"</td>";
                    line += "<td class='scope'>"+(v.minutos).toLocaleString()+"</td>";
                    line += "<td class='scope'>"+(v.vazao).toLocaleString()+"</td>";
                    line += "<td class='scope'>"+(v.volume).toLocaleString()+"</td>";
                  line += "</tr>";
                }

                $("#infoOutorga").find(".modal-body").find(".table-vazoes").append(line);
              });
              
              let line = ""

              line += "<tr>";
                line += "<td class='scope' style='text-align: center' colspan='6'><b>Volume Anual (m³)</b></td>";
                line += "<td class='scope'>"+total_volume.toLocaleString()+"</td>";
              line += "</tr>";

              $("#infoOutorga").find(".modal-body").find(".table-vazoes").append(line);              
            });
            //console.log(marker);
            //Append Data to Table
            markers.addLayer(marker);
            
            //console.log("Bounds to element: ", element._source);
            bounds.extend([element._source.latitude, element._source.longitude]);
            
          });

          map.addLayer(markers);
          
          loadUgrhiLayer();
          loadMunicipioLayer();
          
          const panelRight = L.control.sidepanel('panel-legend', {
            panelPosition: 'right',
            hasTabs: true,
            tabsPosition: 'left',
            pushControls: true,
            darkMode: true
          }).addTo(map);

          if(bounds.isValid()){
            
            renderRanking();
            renderCustomInfoPerFinality();
            renderCustomInfoPerUseType();                       

            map.fitBounds(bounds);

            $('#tabela-outorgas').DataTable({
              pageLength: 15,
              dom: 'Bfrtip',
              buttons: [
                  'copy', 'csv', 'excel'
              ],
              language: {
                  url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json'
              },
              fnInitComplete: function(){
                $('div.toolbar').html('<button class="btn btn-success"><i class="bi bi-trash"></i></button>');
                $(".dt-buttons").find("button").addClass("btn btn-outline-success");
              }
            });
          }
          else{
            console.log("Invalid bounds: ", bounds);
          }
        }

        $("#btn_filter").on('click', function(e){
          console.log("Filter Button Clicked...");
          
          $("#btn_filter").append(" <span class=\"spinner-grow spinner-grow-sm\" role=\"status\" aria-hidden=\"true\"></span>");
          $("#form_search").submit();
        });
        
        $("#btn_my_coords").on("click", function(e){
          navigator.geolocation.getCurrentPosition((position) => {
            let lat = position.coords.latitude;
            let long = position.coords.longitude;

            $("#latitude").val(lat);
            $("#longitude").val(long);

            updateLocationValue();
          });
        });

        $("#btn_filter_geo").on('click', function(e){
          console.log("Filter Geo Clicked...");
          $("#form_geo").submit();
        });
        
        function getIconClassByTipoUso(tipo_uso){
          let icon;

          switch(tipo_uso){
            case "Retificação / Revogação":
              icon = "fa-solid fa-plus text-info";
              break;
            case "Captação Subterrânea":
              icon = "fa-solid fa-arrow-up text-danger";
              break;
            case "Captação Superficial":
              icon = "fa-solid fa-arrow-up text-orange";
              break;
            case "Lançamento Superficial":
              icon = "fa-solid fa-arrow-down text-teal";
              break;
            case "Reservatório de Acumulação":
              icon = "fa-solid fa-chart-line text-cyan";
              break;
            case "Canalização":
              icon = "fa-solid fa-timeline text-primary";
              break;
            case "Travessia Aérea":
              icon = "fa-solid fa-dungeon text-primary";
              break;
            case "Travessia Subterrânea":
              icon = "fa-solid fa-dungeon text-warning";
              break;
            case "Desassoreamento e Limpeza de Margem":
              icon = "fa-solid fa-snowplow text-secondary";
              break;
            case "Travessia":
              icon = "fa-solid fa-bridge-water text-green";
              break;
            case "Poço Tubular":
              icon = "fa-solid fa-tower-observation text-orange";
              break;
            case "Obra/Serviço":
              icon = "fa-solid fa-screwdriver-wrench text-red";
              break;
            case "Desassoreamento":
              icon = "fa-solid fa-arrows-down-to-line text-purple";
              break;
            default:
              icon = "fa-solid fa-users text-danger";
          }

          return icon;
        }

        function getIconClassByFinality(finalidade){
          let finalidade_icon;

          switch(finalidade){
            case "Irrigação":
              finalidade_icon = "fa-solid fa-leaf text-info";
              break;
            case "Urbano":
              finalidade_icon = "fa-solid fa-building text-pink";
              break;
            case "Industrial":
              finalidade_icon = "fa-solid fa-industry text-warning";
              break;
            case "Doméstico":
              finalidade_icon = "fa-solid fa-home-user text-teal"
              break;
            case "Aquicultura":
              finalidade_icon = "fa-solid fa-fish text-primary" ;
              break;
            case "Comércio e Serviços":
              finalidade_icon = "fa-solid fa-cash-register text-orange";
              break;
            case "Recreação e Paisagismo":
              finalidade_icon = "fa-solid fa-umbrella-beach text-purple";
              break;
            case "Regularização de Vazões":
              finalidade_icon = "fa-solid fa-chart-line text-danger";
              break;
            case "Regularização de Nível":
              finalidade_icon = "fa-solid fa-chart-line text-cyan";
              break;
            case "Rural":
              finalidade_icon = "fa-solid fa-industry text-green";
              break;
            case "Controle de Cheias":
              finalidade_icon = "fa-solid fa-house-flood-water-circle-arrow-right text-danger";
              break;
            case "Geração de Energia":
              finalidade_icon = "fa-solid fa-bolt text-yellow";
              break;
            case "Mineração":
              finalidade_icon = "fa-solid fa-gem text-red"
              break;
            default:
              finalidade_icon = "fa-solid fa-user text-danger";
          }

          return finalidade_icon;
        }

        function clearFiltroForm(){
          console.log("Limpar filtro aqui");
          $("#form_search").trigger("reset");

          $("#cod_ugrhi").prop("disabled", false);
          $("#municipio").prop("disabled", false);
          $("#diretoria").prop("disabled", false);
        }

        function getIconOptions(source){
          let opt = {};
          
          opt["icon"] = getIconClassByFinality(source.tipo_finalidade_grupo);
          opt["iconShape"] = "circle";
          opt["prefix"] = "";
          opt["borderColor"] = "#000000";
          opt["backgroundColor"] = "#ffffff";
          opt["iconSize"] = [28,28];
          opt["iconAnchor"] = [14,14];
          opt["borderWidth"] = 2;
          opt["innerIconAnchor"] = [0,5];
          return opt;
        }

        // function loadUgrhiLayer(){
        //   let url = "https://datageo.ambiente.sp.gov.br/geoserver/datageo/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=datageo:LimiteUgrhiDAEE&maxFeatures=50000&outputFormat=application%2Fjson";
        //   let filter_cql = {};

        //   if($("#cod_ugrhi").val() != ""){
        //     filter_cql['cql_filter'] = "Codigo="+parseInt($("#cod_ugrhi").val());

        //     $.ajax({
        //       url: url,
        //       cache: true,
        //       data: filter_cql,
        //       beforeSend: function(){
        //         ugrhiLayer.clearLayers();
        //       },
        //       success: function(data){
        //         console.log("Ugrhis: ", data);
        //         //localStorage.setItem('ugrhis_geo', JSON.stringify(data));

        //         var ll = L.geoJSON(data, {
        //             filter: function(feature){
        //               console.log("Ugrhi Properties: ", feature.properties);
        //               if(feature != undefined && feature.properties != undefined){
        //                 return feature.properties.Codigo == parseInt($("#cod_ugrhi").val());
        //               }
        //               else{
        //                 return false;
        //               }
        //             },
        //             onEachFeature: function(feature,layer){
        //               layer.on({
        //                 mouseover: highlightFeature,
        //                 mouseout: resetHighlight,
        //                 click: zoomToFeature
        //               })
        //             },
        //             style: function (feature) {
        //                 return {color: '#aa66bb', opacity: 0.5};
        //             }
        //         }).bindPopup(function (layer) {
        //             return layer.feature.properties;
        //         });
                
        //         ugrhiLayer.addLayer(ll);
        //       },
        //       complete: function(){

        //       }
        //     });
        //   }
        //   else{
        //     console.log("Campo de Ugrhi não preenchido!")
        //   }

          
        // }

        function zoomToFeature(e) {
          console.log("Zoom To Feature: ", e);
          //map.fitBounds(e.target.getBounds());
        }

        function resetHighlight(e) {
          console.log("Limpar estilos da camada...");
        }

        function highlightFeature(e){
          var layer = e.target;

          layer.setStyle({
              weight: 5,
              color: '#666',
              dashArray: '',
              fillOpacity: 0.3
          });

          if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
              layer.bringToFront();
          }
        }

        function loadUgrhiLayer(){
          let url = "./ugrhis/"+$("#cod_ugrhi").val();

          if($("#cod_ugrhi").val() != ""){
            $.get(url).then(response => {
              ugrhiLayer.clearLayers()

              let res = JSON.parse(response.replaceAll("&#34;","\""));
              console.log("Response Ugrhi: ", res);

              let ll = L.geoJSON(res, {
                style: function(feature){
                  return {color: '#aa66bb', opacity: 0.1};
                }
              });

              ugrhiLayer.addLayer(ll);
              map.fitBounds(ugrhiLayer.getLayers()[0].getBounds())
            })
          }
        }

        function loadMunicipioLayer(){
          //let url = "https://datageo.ambiente.sp.gov.br/geoserver/datageo/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=datageo:LimiteMunicipal&maxFeatures=700&outputFormat=application%2Fjson";
          let url = "./municipios/"+$("#municipio").val();

          let filter_cql = {};

          if($("#municipio").val() != ""){
            $.get(url).then(response => {
              console.log("Get Cities: ", response);

              municipioLayer.clearLayers();

              let res = JSON.parse(response.replaceAll("&#34;","\""));              
              let ll = L.geoJSON(res,{
                style: function(feature){
                  return {
                    backgroundColor: 'red'
                  }
                }
              });
              municipioLayer.addLayer(ll);

              map.fitBounds(municipioLayer.getLayers()[0].getBounds());

            }).catch(error => {
              console.error(error);
            })
          }
        }

        function truncateString(str, num) {
          if (str.length > num) {
            return str.slice(0, num) + "...";
          } else {
            return str;
          }
        }

        function renderRowToTable(target,data){
          let row = "";
          console.log("Render Row to Table: ", data);
          var requerente = (data.cnpj_requerente != null && data.cnpj_requerente != undefined) ? data.cnpj_requerente : "***";
          var nome_requerente = (data.razao_social_requerente != null && data.razao_social_requerente != undefined) ? data.razao_social_requerente : "***";
          row += "<tr>";
            row += "<td>"+data.sol_req_num_cod+"</td>";
            row += "<td>"+data.uso_id+"</td>";
            row += "<td>"+data.municipio+"</td>";
            row += "<td>"+getUgrhi(data.cod_ugrhi)+"</td>";
            row += "<td>"+getDirCod(data.diretoria_nome)+"</td>";
            row += "<td>"+requerente+"</td>";
            row += "<td>"+nome_requerente+"</td>";
            row += "<td>"+parseFloat(data.latitude).toFixed(8)+", "+parseFloat(data.longitude).toFixed(8)+"</td>";
            row += "<td>"+data.tipo_uso+"</td>";
            row += "<td>"+data.subtipo_uso+"</td>";
            row += "<td>"+data.tipo_finalidade_grupo+"</td>";
            //row += "<td>"+data.decisao_pto+"</td>";
            if(data.numero_portaria != null && data.numero_portaria != 'null' && data.numero_portaria != '') { row += "<td>"+ data.numero_portaria+"</td>"} else { row += "<td>-</td>"; };
            
            if(data.data_publicacao){ row += "<td>"+data.data_publicacao.substring(0,10) +"</td>"; }else{ row += "<td>-</td>"; }

            if(data.volume_m3_anual){ row += "<td>"+data.volume_m3_anual.toLocaleString()+"</td>"; }else{ row += "<td>-</td>"; }
            if(data.vazao_max){ row += "<td>"+data.vazao_max.vazao.toLocaleString()+"</td>"; }else{ row += "<td>-</td>" }

            var dominio = (data.dominio != null && data.dominio != undefined) ? data.dominio : "-";
            var nome_curso_agua = (data.nome_curso_agua != null && data.nome_curso_agua != undefined) ? data.nome_curso_agua : "-";
            var cnarh = (data.cnarh != null && data.cnarh != undefined) ? data.cnarh : "-";

            row += "<td>"+dominio+"</td>";
            row += "<td>"+nome_curso_agua+"</td>";
            row += "<td>"+cnarh+"</td>";

            for(let i = 0; i < 12; i++){
              let v = data.vazoes[i];

              row += "<td>"+v.dias+"</td>";
              row += "<td>"+v.horas +"</td>";
              row += "<td>"+v.minutos+"</td>";
              row += "<td>"+v.volume+"</td>";
            }

          row += "</tr>";
            
          $(target).append(row);
        }

        // The download function takes a CSV string, the filename and mimeType as parameters
        // Scroll/look down at the bottom of this snippet to see how download is called
        var download = function(content, fileName, mimeType) {
          var a = document.createElement('a');
          mimeType = mimeType || 'application/octet-stream';

          if (navigator.msSaveBlob) { // IE10
            navigator.msSaveBlob(new Blob([content], {
              type: mimeType
            }), fileName);
          } else if (URL && 'download' in a) { //html5 A[download]
            a.href = URL.createObjectURL(new Blob([content], {
              type: mimeType
            }));
            a.setAttribute('download', fileName);
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          } else {
            location.href = 'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
          }
        }

        function convertToCSV(arr) {
          const array = [Object.keys(arr[0])].concat(arr)

          return array.map(it => {
            return Object.values(it).toString()
          }).join('\n')
        }

        function getDirCod(name){
          if(name == "Diretoria da Bacia do Alto Tietê e Baixada Santista"){
            return "BAT-BS";
          }
          else if(name == "Diretoria da Bacia do Médio Tietê"){
            return "BMT";
          }
          else if(name == "Diretoria de Bacia do Baixo Tietê"){
            return "BBT";
          }
          else if(name == "Diretoria de Bacia do Peixe Paranapanema"){
            return "BPP";
          }
          else if(name == "Diretoria de Bacia do Turvo Grande"){
            return "BTG";
          }
          else if(name == "Diretoria de Bacia do Pardo Grande"){
            return "BPG";
          }
          else if(name == "Diretoria de Bacia do Ribeira de Iguape e Litoral Sul"){
            return "BRI-LS";
          }
          else if(name == "Diretoria de Bacia do Paraíba e Litoral Norte"){
            return "BP-LN";
          }
          else{
            return name;
          }
        }

        function getUgrhi(cod){
          if(cod == 1){ return "Mantiqueira"; }
          else if(cod == 2){ return "Paraíba do Sul"; }
          else if(cod == 3){ return "Litoral Norte" }
          else if(cod == 4){ return "Pardo" }
          else if(cod == 5){ return "Piracicaba/Capivari/Jundiaí" }
          else if(cod == 6){ return "Alto Tietê" }
          else if(cod == 7){ return "Baixada Santista" }
          else if(cod == 8){ return "Sapucaí/Grande" }
          else if(cod == 9){ return "Mogi-Guaçu" }
          else if(cod == 10){ return "Tietê/Sorocaba" }
          else if(cod == 11){ return "Ribeira de Iguape/Litoral" }
          else if(cod == 12){ return "Baixo Pardo/Grande" }
          else if(cod == 13){ return "Tietê/Jacaré" }
          else if(cod == 14){ return "Alto Paranapanema" }
          else if(cod == 15){ return "Turvo/Grande" }
          else if(cod == 16){ return "Tietê/Batalha" }
          else if(cod == 17){ return "Médio Paranapanema" }
          else if(cod == 18){ return "São José dos Campos" }
          else if(cod == 19){ return "Baixo Tietê" }
          else if(cod == 20){ return "Aguapeí" }
          else if(cod == 21){ return "Peixe" }
          else if(cod == 22){ return "Pontal do Paranapanema" }
          else if(cod == 99){ return "Não cadastrada"}
          else if(cod == 9999){return "Fora do Estado de São Paulo"}
          else{
            return "Indefinida";
          }
        }

        function getMonthName(month){
          let ret = "";

          if(month == 1){ret = "Janeiro";}
          else if(month == 2){ret = "Fevereiro";}
          else if(month == 3){ret = "Março";}
          else if(month == 4){ret = "Abril";}
          else if(month == 5){ret = "Maio";}
          else if(month == 6){ret = "Junho";}
          else if(month == 7){ret = "Julho"}
          else if(month == 8){ret = "Agosto"}
          else if(month == 9){ret = "Setembro";}
          else if(month == 10){ret = "Outubro";}
          else if(month == 11){ret = "Novembro";}
          else if(month == 12){ret = "Dezembro";}
          else{
            ret = "Desconhecido";
          }
          return ret;
        }

        function calculate_discharge_per_month(minutes,hours,days,discharge){
          return (((minutes/60)+hours)*days)*discharge;
        }

        function populateUgrhisSelect(){
          $("#cod_ugrhi").empty();
          $("#cod_ugrhi").append("<option value=''>-</option>");
          $.each(ugrhis.ugrhis, function(k,v){
            let obj = "<option value='"+v.codigo+"'>"+v.nome+"</option>";
            //console.log(obj);
            if(v.codigo != 99 && v.codigo != 9999){
              $("#cod_ugrhi").append(obj);
            }
          });
        }

        function populateMunicipiosSelect(){
          $("#municipio").empty();

          $("#municipio").append("<option value=''>-</option>");
          $.each(municipios.municipios, function(k,v){
            
            let obj = "<option value='"+v.codigo_ibge +"'>"+v.nome+"</option>";
            //console.log(obj);
            $("#municipio").append(obj);
          });
        }

        function fillFormWithUrl(){
          console.log(window.location.search);
          let params = new URLSearchParams(window.location.search);
          console.log(params);
          //let q = params.get("municipio");
          //console.log(q)

          if(window.location.search==''){
            modal_filtro.show();
          }

          $("#nro_requerimento").val(params.get("nro_requerimento")).change();
          $("#municipio").val(params.get("cod_ibge")).change();
          $("#cod_ugrhi").val(params.get("cod_ugrhi")).change();
          $("#diretoria").val(params.get("diretoria_sigla")).change();

          $('[name="data_publicacao_lte"]').val(params.get("data_publicacao_lte"));
          $('[name="data_publicacao_gte"]').val(params.get("data_publicacao_gte"));
          $("#tipo_uso").val(params.get("tipo_uso"));
          $("#finalidade").val(params.get("tipo_finalidade_grupo"));

          if(params.get("location")){
            let location = params.get("location").replaceAll("POINT ","").replaceAll("(","").replaceAll(")","").split(" ");
            console.log("Location: ", location);
            $("#latitude").val(location[1]);
            $("#longitude").val(location[0]);
          }
          
          $("#distance").val(params.get("distance"));

          changeRaioText("#txt_raio_km", params.get("distance"));
          updateLocationValue();


        }

        function updateLocationValue(){
          let lat = $("#latitude").val();
          let lon = $("#longitude").val();

          if(lat != '' && lon != ''){
            $("#location").val("POINT ("+lon+" "+lat+")");

            let distance_in_meters = parseFloat($("#distance").val())*1000;
            geo_distance_groups.clearLayers();
  
            let circle = L.circle([lat,lon],{radius: distance_in_meters});
            let marker = L.marker([lat,lon],{           
              icon: L.BeautifyIcon.icon({
                iconShape: 'circle-dot',
                borderWidth: 5,
                borderColor: 'blue'
              })
            });
            geo_distance_groups.addLayer(circle);
            geo_distance_groups.addLayer(marker);
  
            map.fitBounds(circle.getBounds());
          }          
        }

        function changeRaioText(target,value){
          const output = document.querySelector(""+target);
          output.textContent = value;
        }

        function renderRanking(){
          let ranking_outorgas = _.sortBy(outorgas, function(o){ return o._source.volume_anual });

          //console.log("Ranking: ", ranking_outorgas);

          let elx = "<table bgcolor='#ffffff' class='table table-bordered table-hover'>";
            elx += "<thead><th>#</th><th>Uso</th><th>Vol.Anual(m³)</th><thead>";
            elx += "<tbody>";
              $.each(_.reverse(ranking_outorgas), function(k,v){
                //console.log("Each: ", v)
                if(k < 10){
                  elx += "<tr onclick='map.flyTo(["+v._source.location+"],17)'><td>"+(k+1)+"</td><td>"+v._source.uso_id+"</td><td>"+(v._source.volume_anual).toLocaleString()+"</td></tr>";
                }
              });
            elx += "</tbody>";
          elx += "</table>";

          $("#tab-ranking").html(elx);
        }
        
        function renderCustomInfoPerUseType(){
          let el = '<h4>Outorgas por Tipo de Uso</h4><br/>';

          el += "<table width=100% bgcolor='#ffffff' class='table table-bordered'>";
          el += "<thead class=\"table-secondary\"><th></th><th>Total</th><th>"+outorgas.length+"</th></thead>";
          $.each(_.countBy(outorgas, function(o){ return o._source.tipo_uso }), function(k,v){
            //console.log(k," => ",v);
            let name = k;

            if(k.indexOf("Poço") > -1){
              name = "Poço Tubular";
            }
            else if(k.indexOf("Obra ou Serviço") > - 1){
              name = "Obra/Serviço";
            }
            else if(k.indexOf("Desassoreamento") > -1){
              name = "Desassoreamento";
            }

            el += '<tr><td><i class="'+getIconClassByTipoUso(name)+'"></i></td><td><b>'+name+'</b></td><td>'+v+"</td></tr>";
          });

          el += "</table>";

          $("#tab-use-type").html(el);

        }

        function renderCustomInfoPerFinality(){
          
          let el = '<h4>Outorgas por Finalidade</h4></br>'

          el += "<table width=100% bgcolor='#ffffff' class='table table-bordered'>";
          el += "<thead class=\"table-secondary\"><th></th><th>Total</th><th>"+outorgas.length+"</th></thead>";
          $.each(_.countBy(outorgas, function(o){ return o._source.tipo_finalidade_grupo }), function(k,v){
            //console.log(k," => ",v);
            el += '<tr><td><i class="'+getIconClassByFinality(k)+'"></i></td><td><b>'+k+'</b></td><td>'+v+"</td></tr>";
          });

          el += "</table>";

          $("#tab-finality").html(el);

          //console.log(outorgas);          
        }

      </script>
    </body>

</html>
